# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.egg-info/
dist/
build/
.eggs/
*.egg

.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.project
.pydevproject
.settings/
.ropeproject/

# OS
.DS_Store
*.DS_Store
Thumbs.db
desktop.ini


# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/
coverage.xml
*.cover
.cache

